@import "./../../../../variables.scss";

.banner {
  min-height: 100vh;

  .container {
    display: table;
    height: 100vh;

    .section-box-banner {
      display: table-cell;
      vertical-align: middle;

      .content {
        margin-top: 98px;
      }
      .myimage img {
        border-radius: 50%;

        --color: #fa6900; /* the color of the border */
        --border: 10px; /* the thickness of the border */
        --offset: 30px; /* control the movement of the border */
        --gap: 5px; /* the gap on hover */

        border-radius: 50%;
        cursor: pointer;
        padding: calc(var(--border) + var(--gap));
        border: var(--offset) solid #0000;
        --_m: radial-gradient(
          50% 50%,
          #000 calc(100% - var(--offset)),
          #0000 calc(100% - var(--border))
        );
        -webkit-mask: var(--_m);
        mask: var(--_m);
        --_g: #0000 calc(99% - var(--border)),
          var(--color) calc(100% - var(--border)) 99%, #0000;
        --_s: var(--offset);
        --_r: 100% 100% at;
        background: radial-gradient(var(--_r) 0 0, var(--_g))
            calc(100% + var(--_s)) calc(100% + var(--_s)),
          radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
            calc(100% + var(--_s)),
          radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
            calc(0% - var(--_s)),
          radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
            calc(0% - var(--_s));
        background-size: 50% 50%;
        background-repeat: no-repeat;
        transition: 0.4s;
        &:hover {
          --_s: 0px;
        }
      }

      h1 {
        color: #64ffda;
        margin: 0 0 20px 3px;
        font-size: 16px;
        font-weight: normal;
        font-family: $CodeFont;
      }

      h2,
      h3 {
        font-weight: 600;
        font-size: 80px;
        line-height: 1.1;
        margin: 0;
        font-family: $MainFont;
        background: linear-gradient(
          120deg,
          #50efb5,
          #8ff4ca,
          #e69e4c,
          #e69e4c,
          #e69e4c,
          #e69e4c,
          #eeff41,
          #f9a825,
          #ff5722
        );
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h2 {
        color: $LightestSlate;
      }

      h3 {
        color: $Slate;
      }

      .banner-description {
        margin-bottom: 60px;
      }

      p {
        max-width: 600px;
      }

      .div-btn-banner {
        height: 43px;
      }
    }
  }
}
